@import '~bootstrap/scss/bootstrap';


.box {
    align-items: center;
    border: 1px solid black;
  }

.alt-color {
    background-color: #7AB379;
}

.container {
    align-items: center;
    justify-content: center;
}