@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

@import '~bootstrap/scss/bootstrap';

html {
    height: 100vh;
}
body {
    background-color: #f4f1de;
    margin: 100px auto;
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;

}

h1 {
    font-family: New Tegomin, sans-serif;
    align-content: center;
    justify-content: center;
}

#message {
    text-align: center;
    font-family: Cabin, sans-serif;
}

#sign-in {
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}

#sign-up {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#sign-out {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#new-page {
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    cursor: pointer;
    min-height: 100%;
    width: 100%;
   
}

.board {
    margin: 100px auto;
    max-height: calc(100vh - 500px);
    max-width: calc(100vh - 500px);
}

.box {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    &:nth-child(3n) {
        border-right: 0;
    }
    &:nth-last-child(-1n + 3) {
        border-bottom: 0;
    }
    // Set the minimum height for each box
    min-height: calc(100% / 3);
    // Center the text (x's and o's inside the board
    display: flex;
    // set the content posititon along the main axis (left to right)
    justify-content: center;
    // set the conts position along the cross axis 
    align-items: center;

    &:hover {
        background-color: #1d3557;
    }
}